@import '../../variables.scss';

.headerWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.header {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: -0.25px;
    text-shadow: 1px 2px 5px rgba($color: $black, $alpha: 0.2);
}